body {
    font-family: "Tektur", sans-serif;
    font-size: 18px;

}

html, body {
    width: 100%;
    height: 100%;
}

:root {
    --color1: #00A538;
    --color2: #212121;
    --color3: #F7F7F7
}


.btn-success {
    border-radius: 0%;
    padding: 10px 20px;
    background-color: var(--color1);
}

.btn-outline-success {
    border-radius: 0%;
    color: var(--color1);
    border-color: var(--color1);
    padding: 8px 18px;
    border-width: 2px;
}

.nav-link {
    color: var(--color2);


}

.house_background {
    background: url('../img/1 screen(2).png') no-repeat;
    background-size: cover;
}

.background_black {
    background-color: rgba(0, 0, 0, 0.68);
    width: 100%;
    height: 100%;
    padding: 80px 0;

}

.navbar {
    padding-top: 8px;
    padding-bottom: 8px;
}

.first {
    font-weight: 700;
    color: var(--color1);

}

.second {
    font-weight: 700;
    color: var(--color3);
    margin-bottom: 120px;
}

.square {
    background-color: var(--color1);
    width: 0.8rem;
    height: 0.8rem;
}


@media (min-width: 1400px) {

    .square {
        width: 1.23rem;
        height: 1.23rem;

    }

    .number {
        font-size: 3.875rem;
    }

    .text {
        font-size: 1.5rem;
    }

    .text_right {
        font-size: 2.625rem;
    }
}


.number {

    font-weight: 700;
    margin: 0;


}

.text {
    margin-top: 0;
    font-weight: 500;
}

.button3 {
    margin-top: 60px;
    padding: 10px 20px;
}

@media (max-width: 1200px) {
    .button3 {
        font-size: 1rem;
        padding: 10px 20px;
        margin-top: 20px;
    }

    .list p {
        font-size: 2.125rem;
    }

    .second {
        margin-bottom: 30px;
    }

    .text_right {
        font-size: 1.563rem;

    }
}

/* Блок о том, что делаем*/
.our_works {
    background-color: #F7F7F7;
    width: 100%;

}

.sho, .benef, .about_us, .feedback_us {
    font-size: 1.5rem;
    color: #909090;
}

.list {
    font-size: 82px;

}

.fw-bold {
    margin: 0;
}

.benefits {
    background-color: white;
    width: 100%;

}

.carousel {
    background-color: #F7F7F7;
    width: 100%;
}

.our_carousel {
    color: #909090;
}


.text_right {
    font-size: clamp(16px, 5vw, 2.375rem);
    font-weight: 600;
}

.modern {
    font-size: 1.125rem;


}


.section_padding {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}


.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--color1);


}

.accordion-button {
    box-shadow: none !important;
    font-size: 2.625rem;
    font-weight: 600;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.women {
    width: 100%;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='green' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

@media (max-width: 1200px) {


    .modern {
        font-size: 1rem;
    }

    .section_padding {
        padding-top: 3.25rem;
        padding-bottom: 3.25rem;
    }

    .accordion-button {
        font-size: 1.625rem;
    }

    .big {
        font-size: 1.25rem;
    }

    .call_us .text-w {
        font-size: 2.25rem;
    }

    .man_women {
        font-size: 0.875rem;
    }

}

@media (max-width: 700px) {
}

.women {
    display: flex;

}

.call_us {
    background-color: #00A538;
}

.text-w {
    font-size: 3.875rem;
    font-weight: 700;

}

.form-control {
    border-radius: 0;
    box-shadow: none !important;
}

.contacts {
    background-color: #212121;
}

.big {
    font-size: 1.25rem;
    font-weight: 500;
}

.small {
    font-size: 0.875rem;
}

.modul {
    padding: 1.875rem;
}

#carouselExampleIndicators {
    height: 100%;
}

.man_women {
    color: #212121;
}

.list {
    color: #212121;

}


@media (max-width: 800px) {
    .foot {
        font-size: 0.75rem;
    }

    .modul {
        padding: 1rem;
    }

    .first, .second {
        font-size: 2.625rem;
    }
}

@media (max-width: 1400px) {
    .foot {
        font-size: 0.875rem;
    }

}

@media (max-width: 2000px) {
    .foot {
        font-size: 0.875rem;
    }
}

.foot {
    font-weight: 400;
}

@media (min-width: 800px) {
    .first, .second {
        font-size: 5.125rem;
    }

    .ben_name {
        font-size: 1rem;
    }

    .text {
        font-size: 1.5rem;
    }

    .number {
        font-size: 3.875rem;
    }
}

@media (max-width: 800px) {
    .cont_name {
        font-size: 1rem;
    }

    .ben_name {
        font-size: 0.875rem;
    }

    .text {
        font-size: 1rem;
    }

    .number {
        font-size: 2.25rem;
    }
}

@media (min-width: 760px) {
    .cont_name {
        font-size: 1.5rem;
    }
}

.accordion-button {
    color: #212121;
}